body {
  height: max-content;
  background: linear-gradient(
    0deg,
    rgba(70, 70, 70, 1) 0%,
    rgba(60, 60, 60, 1) 40%,
    rgba(50, 50, 50, 1) 100%
  );
  background-attachment: fixed;
}

.pause-icon {
  color: #fff;
  margin-right: 10px;
}

div.container {
  padding: 0px;
  height: 100%;
  background-color: #232323;
}
.row {
  margin: 0px;
}
.content-header {
  border-bottom: 6px solid #343434;
  align-items: center;
  height: 125px;
}
.sns-icon {
  width: 30px;
  margin: 5px;
}
.content-body {
  margin: 35px;
  color: #fff;
  font-family: Quicksand;
  font-size: 24px;
  font-weight: 100;
}

.content-header-text {
  color: #fff;
  font-family: Quicksand;
  font-size: 48px;
  font-weight: 700;
  padding-left: 7%;
  letter-spacing: 5px;
}
.content-header-link {
  padding-right: 7%;
}
.content-body-side {
  margin-left: 60px;
  margin-right: 60px;
  height: 250px;
  text-align: center;
}
.content-body-text {
  margin-top: 20px;
}
.name {
  margin-bottom: 20px;
}
.about-description {
  color: #999;
  font-size: 17.5px;
}
.indent {
  text-indent: 3em;
}

.bold {
  color: #aaa;
  font-weight: 900;
}
.skill {
  font-size: 13px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .content-body-side {
    max-width: none;
  }
  .name {
    font-size: 20px;
  }
  .indent {
    font-size: 15px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .content-body-side {
    max-width: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .content-body {
    margin: 10px;
  }
  .content-body-side {
    margin-left: 0px;
    margin-right: 90px;
    height: 250px;
    text-align: center;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .content-body-side {
    margin-left: 0px;
    margin-right: 60px;
    height: 250px;
    text-align: center;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .content-body .content-body-side {
    margin-left: 60px;
    margin-right: 60px;
    height: 250px;
    text-align: center;
  }
}
